#page-layout {
  min-width: 1024px;
}
#page-header {
  background-color: #7dbcea;
  color: white;
  font-size: 1rem;
  text-align: right;
}
#page-content {
  min-height: calc(100vh - 100px);
}
#page-footer {
  background-color: #7dbcea;
}